@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var uniqueName = Model?.Content.Value("uniqueName");
    var label = Model?.Content.Value("label");
    var placeholderText = Model?.Content.Value("placeholderText");

    var isRequired = Model.Content.Value<bool>("isRequired");
    var errorMessage = Model?.Content.Value<string>("errorMessage");
}

<div id="_@uniqueName" class="form-input-group">
    <label class="form-label" for="@uniqueName">@label</label>
    <textarea id="@uniqueName" name="@uniqueName" placeholder="@placeholderText" class="form-textarea" required="@isRequired"></textarea>

    @if(isRequired)
    {
        <span class="form-input-error">@errorMessage</span>
    }

</div>