


@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var publishedOn = Model?.Value<DateTime>("publishedOn").ToString("yyyy-MM-dd");
    var selection = Umbraco.Content(Guid.Parse("68afe901-8b86-4ac6-a6ab-df5bfaecb952"))
    .ChildrenOfType("projectItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate)
    .Take(4);
}

 <section class="projects-details container">
        <div class="details-page">
            <div class="details-main">
                <div class="top-page-date">
                    <i class="fa-regular fa-calendar-days"></i>
                    <p class="date-text">@publishedOn</p>
                </div>
                @Model!.Value("bodyText")
            </div>
            <div class="side-section">
                <h4>Recent Projects</h4>
                @foreach (var item in selection)
                {
                    var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
                    var pageTitle = item?.Value<string>("pageTitle") ?? "";
                    var sidepublishedOn = item?.Value<DateTime>("publishedOn").ToString("yyyy-MM-dd");

                    <a href="@item.Url()" class="projects-box">
                        <img src="@image"/>
                        <div class="projects-info">
                            <p style="color: var(--color-primary)">@item.Name()</p>
                            <div class="date">
                                <i class="fa-regular fa-calendar-days"></i>
                                <p class="date-text">@sidepublishedOn</p>
                            </div>
                        </div>
                    </a>
                }
               
                <h4>Tags</h4>
                @foreach (var item in selection)
                {
                    var categories = item?.Value<IEnumerable<string>>("categories") ?? null;
                    <div class="tags">
                        @foreach (var category in categories)
                        {
                            <p class="tag">@category</p>
                        }
                    </div>
                }
                <div class="about-footer bg-primary">
                    <h4>How can we help you?</h4>
                    <p>Online support 24/7, we are here to help you</p>
                    <div class="input-container">
                        <input type="email" placeholder="E-mail address">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <img class="mail-img" src="./images/about-us-mail.svg" alt="">
                </div>
            </div>
        </div>
    </section>