@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var selection = Umbraco.Content(Guid.Parse("68afe901-8b86-4ac6-a6ab-df5bfaecb952"))
    .ChildrenOfType("projectItem")
    .Where(x => x.IsVisible());

    var itemsPerPage = 4;

    if (!int.TryParse(Context.Request.Query["page"], out int currentPage))
        currentPage = 1;

    var totalItems = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((currentPage - 1) * itemsPerPage).Take(itemsPerPage);
}


<section class="projects container">
    <div class="main-container">
        <div class="projects-list">
            @if (pagedItems is not null)
            {
                @foreach (var item in pagedItems)
                {
                    var thumbnailImage = item?.Value<IPublishedContent>("thumbnailImage").Url() ?? "";
                    var publishedOn = item?.Value<DateTime>("publishedOn").ToString("MMMM d, yyyy");
                    var preamble = item?.Value<string>("subtitle") ?? "";

                    <div class="projects-box">
                        <img src="@thumbnailImage" />
                        <div class="projects-info">
                            <a href="@item.Url()"><h4>@item.Name()</h4></a>
                            <div class="date">
                                <i class="fa-regular fa-calendar-days"></i>
                                <p class="date-text">@publishedOn</p>
                            </div>
                            <p>@preamble</p>
                            <div class="read-more-link">
                                <a href="@item.Url()">Read more</a>
                                <i class="fa-regular fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="side-section">
            <h4>Tags</h4>
            <div class="tags">
                <p class="tag">Report</p>
                <p class="tag">Business plans</p>
                <p class="tag">Insights</p>
                <p class="tag">Business</p>
                <p class="tag">App</p>
                <p class="tag">Project</p>
                <p class="tag">Finance</p>
                <p class="tag">Pricing</p>
            </div>
            <div class="about-footer bg-primary">
                <h4>How can we help you?</h4>
                <p>Online support 24/7, we are here to help you</p>
                <div class="input-container">
                    <input type="email" placeholder="E-mail address">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <img class="mail-img" src="./images/about-us-mail.svg" alt="">
            </div>
        </div>
    </div>
    <section class="pagination">
        <div class="container">
            @if (currentPage > 1)
            {
                <a href="?page=@(currentPage -1)" class="">PREV</a>
            }
            else
            {
                <span class="">PREV</span>
            }

            <ul class="pages">
                @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++)
                {
                    <li class="@((i == currentPage) ? "number active" : "number")">
                        <a href="?page=@i">@i</a>
                    </li>
                }
            </ul>

            @if (currentPage < Math.Ceiling((decimal)totalItems / itemsPerPage))
            {
                <a class="" href="?page=@(currentPage +1)">NEXT</a>
            }
            else
            {
                <span class="">NEXT</span>
            }
        </div>
    </section>

</section>