


@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var publishedOn = Model?.Value<DateTime>("publishedOn").ToString("MMMM d, yyyy");
    var selection = Umbraco.Content(Guid.Parse("68afe901-8b86-4ac6-a6ab-df5bfaecb952"))
    .ChildrenOfType("projectItem")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate)
    .Take(4);

    var formBackgroundImage = settings?.Value<IPublishedContent>("formBackgroundImage")?.Url() ?? "";

    var formHeadline = settings?.Value<string>("formHeadline") ?? "";
    var formSubtitle = settings?.Value<string>("formSubtitle") ?? "";
    var errorMessage = settings?.Value<string>("errorMessage") ?? "";
}

 <section class="projects-details container">
        <div class="details-page">
            <div class="details-main">
                <div class="top-page-date">
                    <i class="fa-regular fa-calendar-days"></i>
                    <p class="date-text">@publishedOn</p>
                </div>
                @Model!.Value("bodyText")
            </div>
            <div class="side-section">
                <h4>Recent Projects</h4>
                @foreach (var item in selection)
                {
                    var thumbnailImage = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
                    var pageTitle = item?.Value<string>("pageTitle") ?? "";
                    var sidepublishedOn = item?.Value<DateTime>("publishedOn").ToString("MMMM d, yyyy");

                    <a href="@item.Url()" class="projects-box">
                        <img src="@thumbnailImage"/>
                        <div class="projects-info">
                            <p style="color: var(--color-primary)">@item.Name()</p>
                            <div class="date">
                                <i class="fa-regular fa-calendar-days"></i>
                                <p class="date-text">@sidepublishedOn</p>
                            </div>
                        </div>
                    </a>
                }
               
                <h4>Tags</h4>
                <div class="tags">
                    @foreach (var item in selection)
                    {
                        var categories = item?.Value<IEnumerable<string>>("categories") ?? null;
                        @foreach (var category in categories)
                        {
                            <p class="tag">@category</p>
                        }
                    }
                </div>

            @using (Html.BeginUmbracoForm("SubmitSmallForm", "ContactSurface", FormMethod.Post, new { novalidate = "novalidate" }))
            {
            <div class="about-footer bg-primary">
                <h4>@formHeadline</h4>
                <p>@formSubtitle</p>
                <div class="input-container">
                    <input type="email" name="Email" placeholder="E-mail address">

                        <div class="error-container">
                            <div id="" class="form-input-error" style="display:none;">@errorMessage</div>
                        </div>

                        <div class="form-success-message" style="display:none;"></div>

                     <button type="submit" class="envelope-submit">
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
                <img class="mail-img" src="@formBackgroundImage" alt="@formBackgroundImage">
            </div>
            }
            </div>
        </div>
    </section>

    <script src="~/scripts/submitSmallForm.js"></script>