@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var contactBackgroundImage1 = settings?.Value<IPublishedContent>("contactBackgroundImage1")?.Url() ?? "";
    var contactBackgroundImage2 = settings?.Value<IPublishedContent>("contactBackgroundImage2")?.Url() ?? "";
    var contactPortaitImage = settings?.Value<IPublishedContent>("contactPortaitImage")?.Url() ?? "";

    var contactHeader = settings?.Value<string>("contactHeader") ?? "";
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var officePhoneNumber = settings?.Value<string>("officePhoneNumber") ?? "";
    var officeEmailAddress = settings?.Value<string>("officeEmailAddress") ?? "";

    var currentPage = Umbraco.AssignedContentItem;
    bool isContactPage = currentPage.Name == "Contact";
}

<section class="let-us-footer @(isContactPage ? "bg-light" : "bg-gray")">
        <div class="let-us-know container">
            <div class="contact-portrait">
                <img class="dots" src="@contactBackgroundImage1"/>
                <img class="green-slope" src="@contactBackgroundImage2"/>
                <img class="portrait" src="@contactPortaitImage"/>
            </div>
            <div class="contact-info">
                <h2>@contactHeader</h2>
                <div class="icon-row">
                    <i class="fa-thin fa-location-dot"></i>
                    <div>
                        <p class="contact-type">Office Location</p>
                        <p class="info-row">@officeLocation</p>
                    </div>
                </div>
                <div class="icon-row">
                    <i class="fa-light fa-phone-flip"></i>
                    <div>
                        <p class="contact-type">Phone number</p>
                        <p class="info-row">@officePhoneNumber</p>
                    </div>
                </div>
                <div class="icon-row">
                    <i class="fa-thin fa-envelope"></i>
                    <div>
                        <p class="contact-type">E-mail address</p>
                        <p class="info-row">@officeEmailAddress</p>
                    </div>
                </div>

            </div>
               
        </div>
    </section>